<p>Hey {{name}},</p>
<p>
  A request has been received to change the password of your hamro sewa account.</p>
<p>
  <a href='{{url}}'>Reset Password</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>